<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
       <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/checkout/">
       <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

       <link href="navbar.css" rel="stylesheet">
       <style>
              .bd-placeholder-img {
                     font-size: 1.125rem;
                     text-anchor: middle;
                     -webkit-user-select: none;
                     -moz-user-select: none;
                     user-select: none;
              }

              @media (min-width: 768px) {
                     .bd-placeholder-img-lg {
                            font-size: 3.5rem;
                     }
              }

              .b-example-divider {
                     height: 3rem;
                     background-color: rgba(0, 0, 0, .1);
                     border: solid rgba(0, 0, 0, .15);
                     border-width: 1px 0;
                     box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
              }

              .b-example-vr {
                     flex-shrink: 0;
                     width: 1.5rem;
                     height: 100vh;
              }

              .bi {
                     vertical-align: -.125em;
                     fill: currentColor;
              }

              .nav-scroller {
                     position: relative;
                     z-index: 2;
                     height: 2.75rem;
                     overflow-y: hidden;
              }

              .nav-scroller .nav {
                     display: flex;
                     flex-wrap: nowrap;
                     padding-bottom: 1rem;
                     margin-top: -1px;
                     overflow-x: auto;
                     text-align: center;
                     white-space: nowrap;
                     -webkit-overflow-scrolling: touch;
              }
       </style>
       <script type="text/javascript">

           var counter = 0;

           // $('body').on('input', 'input[type="number"][maxlength]',
           //     function(){
           //     if (this.value.length > this.maxLength){
           //         this.value = this.value.slice(0, this.maxLength);
           //     }
           // });

           function moreFields() {
               counter++;
               var newFields = document.getElementById("readroot").cloneNode(true);
               newFields.id = '';
               newFields.style.display = 'block';
               var newField = newFields.childNodes;
               for (var i=0;i<newField.length;i++) {
                   var theName = newField[i].name;
                   if (theName)
                       newField[i].name = theName + counter;
               }
               var insertHere = document.getElementById("writeroot");
               insertHere.parentNode.insertBefore(newFields,insertHere);
           }

           window.onload = moreFields;
       </script>

</head>

<body class="bg-light">
<header th:insert="blocks/header :: header"></header>
<div class="container p-3">
       <main>
              <div class="card-body">
                     <div class="container m-5"></div>
              <div class="col-md-12">
                     <div class="row g-lg-2">
                            <div class="col-md-8"> <h4  style="color: red;">Личная информация</h4></div>
                     </div>
                     <form th:action="@{/upload}" method="post" enctype="multipart/form-data">

                            <div class="row g-3">
                                   <div class="col-sm-8">
                                          <label for="full_name" class="form-label">Ф.И.О</label>
                                          <input type="text"  class="form-control" name="full_name" id="full_name" placeholder="" value="" required>
                                          <div class="invalid-feedback">
                                                 Valid first name is required.
                                          </div>
                                   </div>

                                   <div class="col-sm-4">
                                          <label for="dateBirth" class="form-label">Дата рождения</label>
                                          <input type="date" class="form-control" name="date_birth" id="dateBirth" placeholder="" value="" required>
                                          <div class="invalid-feedback">
                                                 Valid last name is required.
                                          </div>
                                   </div>
                                   <div class="col-md-4">
                                          <label for="country" class="form-label">Старана</label>
                                          <select class="form-select" name="country" id="country" required>
                                                 <option value="">Выбрать...</option>
                                                 <option>Uzbekistan</option>
                                          </select>
                                          <div class="invalid-feedback">
                                                 Please select a valid country.
                                          </div>
                                   </div>

                                   <div class="col-md-4">
                                          <label for="state" class="form-label">Город</label>
                                          <select class="form-select"  name="city" id="state" required>
                                                 <option value="">Выбрать...</option>
                                                 <option>Tashkent</option>
                                          </select>
                                          <div class="invalid-feedback">
                                                 Please provide a valid state.
                                          </div>
                                   </div>
                                   <div class="col-md-4">
                                          <label for="state" class="form-label">Регион</label>
                                          <select  class="form-select" name="region" id="region" required>
                                                 <option value="">Выбрать...</option>
                                                 <option>Mirzo Ulugbek</option>
                                          </select>
                                          <div class="invalid-feedback">
                                                 Please provide a valid state.
                                          </div>
                                   </div>
                                   <div class="col-12">
                                          <label for="address" class="form-label">Адрес</label>
                                          <input type="text" class="form-control" name="address" id="address" placeholder="1234 Main St" required>
                                          <div class="invalid-feedback">
                                                 Please enter your shipping address.
                                          </div>
                                   </div>

                                   <div class="col-md-4">
                                          <label for="phoneNum1" class="form-label">Телефон номер<span class="text-muted">(основной)</span></label>
                                          <input type="text" maxlength="12" class="form-control" name="phone_main" id="phoneNum1" placeholder="998XXXXXXXXX" required>
                                          <div class="invalid-feedback">
                                                 Please enter your shipping address.
                                          </div>
                                   </div>
                                   <div class="col-md-4">
                                          <label for="phoneNum2" class="form-label">Телефон номер<span class="text-muted">(домашний)</span></label>
                                          <input type="text" maxlength="12" class="form-control" name="phone_home" id="phoneNum2" placeholder="998XXXXXXXXX" required>
                                          <div class="invalid-feedback">
                                                 Please enter your shipping address.
                                          </div>
                                   </div>
                                   <div class="col-md-4">
                                          <label for="phoneNum3" class="form-label">Телефон номер<span class="text-muted">(дополнительный)</span></label>
                                          <input type="text"  maxlength="12" class="form-control"  name="phone_ext" id="phoneNum3" placeholder="998XXXXXXXXX">
                                   </div>
                                   <!--                                          <div class="col-12">-->
                                   <!--                                                 <label for="email" class="form-label">Почта <span class="text-muted">(Optional)</span></label>-->
                                   <!--                                                 <input type="text" class="form-control" id="email" name="email" placeholder="you@example.com">-->
                                   <!--                                                 <div class="invalid-feedback">-->
                                   <!--                                                        Please enter a valid email address for shipping updates.-->
                                   <!--                                                 </div>-->
                                   <!--                                          </div>-->

                            </div>
<!--                            <hr class="my-4">-->
<!--                            <div class="col-md-8"> <h4  style="color: red;">Опыт работы</h4></div>-->
<!--                            <div id="readroot"  style="display: none">-->

<!--                                   <div class="row g-lg-3">-->
<!--                                          <div class="col-md-4">-->
<!--                                                 <label for="dep_exp" class="form-label">Департамент</label>-->
<!--                                                 <select class="form-select" name="dep_exp" id="dep_exp" required>-->
<!--                                                        <option value="">Выбрать...</option>-->
<!--                                                        <option>ИТ</option>-->
<!--                                                 </select>-->
<!--                                                 <div class="invalid-feedback">-->
<!--                                                        Please provide a valid state.-->
<!--                                                 </div>-->
<!--                                          </div>-->
<!--                                          <div class="col-md-4">-->
<!--                                                 <label for="spec_exp" class="form-label">Специализация</label>-->
<!--                                                 <select class="form-select" name="spec_exp" id="spec_exp" required>-->
<!--                                                        <option value="">Выбрать...</option>-->
<!--                                                        <option>Программист</option>-->
<!--                                                 </select>-->
<!--                                                 <div class="invalid-feedback">-->
<!--                                                        Please provide a valid state.-->
<!--                                                 </div>-->
<!--                                          </div>-->
<!--                                          <div class="col-md-4">-->
<!--                                                 <label for="position_exp" class="form-label">Должность</label>-->
<!--                                                 <select class="form-select" name="position_exp" id="position_exp" required>-->
<!--                                                        <option value="">Выбрать...</option>-->
<!--                                                        <option>Ведущий специалист</option>-->
<!--                                                 </select>-->
<!--                                                 <div class="invalid-feedback">-->
<!--                                                        Please provide a valid state.-->
<!--                                                 </div>-->
<!--                                          </div>-->
<!--                                   </div>-->
<!--                                   <br >-->
<!--                                   <div class="row g-lg-3" >-->
<!--                                          <div class="input-group col-8" >-->
<!--                                                 <span class="input-group-text">Место работы</span>-->
<!--                                                 <textarea class="form-control" name="place_exp" aria-label="With textarea"></textarea>-->
<!--                                          </div>-->
<!--                                          <div class="col-sm-4" >-->
<!--                                                 <label for="start_date_exp" class="form-label">Начало</label>-->
<!--                                                 <input type="date"  class="form-control" name="start_date_exp" id="start_date_exp" placeholder="" value="" required>-->
<!--                                                 <div class="invalid-feedback">-->
<!--                                                        Please provide a valid state.-->
<!--                                                 </div>-->

<!--                                          </div>-->
<!--                                          <div class="col-sm-4" >-->
<!--                                                 <label for="end_date_exp" class="form-label">Конец</label>-->
<!--                                                 <input type="date"  class="form-control" name="end_date_exp" id="end_date_exp" placeholder="" value="" required>-->
<!--                                                 <div class="invalid-feedback">-->
<!--                                                        Please provide a valid state.-->
<!--                                                 </div>-->
<!--                                          </div>-->

<!--                                          <hr class="my-4" >-->
<!--                                   </div>-->
<!--                            </div>-->
<!--                            <span id="writeroot"></span>-->
<!--                            <input type="button"  class="col-md btn btn-primary btn-lg" value="+" onclick="moreFields()"/> <br >-->
                            <hr class="my-4">
                            <div class="col-md-8"> <h4  style="color: red;">Должностная информация</h4></div>
                            <div class="row g-lg-3">
                                   <div class="col-md-4">
                                          <label for="dep_cur" class="form-label">Департамент</label>
                                          <select class="form-select" name="dep_cur" id="dep_cur" required>
                                                 <option value="">Выбрать...</option>
                                                 <option>ИТ</option>
                                          </select>
                                          <div class="invalid-feedback">
                                                 Please provide a valid state.
                                          </div>
                                   </div>
                                   <div class="col-md-4">
                                          <label for="spec_cur" class="form-label">Специализация</label>
                                          <select class="form-select" name="spec_cur" id="spec_cur" required>
                                                 <option value="">Выбрать...</option>
                                                 <option>Программист</option>
                                          </select>
                                          <div class="invalid-feedback">
                                                 Please provide a valid state.
                                          </div>
                                   </div>
                                   <div class="col-md-4">
                                          <label for="position_cur" class="form-label">Должность</label>
                                          <select class="form-select" name="position_cur" id="position_cur" required>
                                                 <option value="">Выбрать...</option>
                                                 <option>Ведущий специалист</option>
                                          </select>
                                          <div class="invalid-feedback">
                                                 Please provide a valid state.
                                          </div>
                                   </div>

                            </div> <br >
                            <label for="formFile" class="form-label">Фото</label>
                            <input class="form-control" name="file" type="file" id="formFile"><br />
                            <button  type="submit"  value="Upload" class="w-100 btn btn-primary btn-lg">Сохранить</button>

                            <h6 class="text-success">[[${success}]]</h6>
                     </form>
<!--                     <a href="/upload/show" style="float:left;" class="btn btn-success text-right">Show All</a>-->
              </div>
              </div>
       </main>

       <footer><div th:insert="blocks/footer :: footer"></div></footer>

</div>


<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>

</html >
