<div th:footer = "footer" xmlns:th = "http://www.w3.org/1999/xhtml" >
       <footer class="my-5 pt-5 text-muted text-center text-small" >
              <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                     <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
                     <li class="nav-item"><a href="/news" class="nav-link px-2 text-muted">News</a></li>
                     <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
              </ul>
              <p class="text-center text-muted">© 2022 Company, Inc <br > Back to <a href="/docs/5.2/examples/sticky-footer/">the default sticky footer</a> minus the navbar.</p>
       </footer>
</div>
