<div th:fragment = "header" xmlns:th = "http://www.w3.org/1999/xhtml">
       <header>
              <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-danger">
                     <div class="container-fluid">
                            <a class="navbar-brand" href="/">Ziraat Bank</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                                   <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarCollapse">
                                   <ul class="navbar-nav me-auto mb-2 mb-md-0">
<!--                                          <div class="btn-group">-->
<!--                                                 <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                                                        Персонал-->
<!--                                                 </button>-->
<!--                                                 <ul class="dropdown-menu">-->
<!--                                                        <li><a class="dropdown-item" href="/upload/show">Пользователь</a></li>-->
<!--                                                        <li><a class="dropdown-item" href="/users">Добавить пользователя</a></li>-->
<!--                                                        <li><hr class="dropdown-divider"></li>-->
<!--                                                        <li><a class="dropdown-item" href="#">Документация</a></li>-->
<!--                                                 </ul>-->
<!--                                          </div>-->
                                          <li class="nav-item">
                                                 <a class="nav-link active" aria-current="page" href="/upload/show">
                                                        Персонал</a>
                                                 <li> <a class="nav-link active" aria-current="page" href="#">
                                                         Инвентарь</a>
                                                 </li>


                                          </li>
                                   </ul>
                                   <form class="d-flex" role="search">
                                          <button class="btn btn-outline-light" type="submit">Exit</button>
                                   </form>
                            </div>
                     </div>
              </nav>
       </header>
       <br >
</div>

